/* Universal styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: hsl(0, 3%, 29%);
}

/* Header section */

header {
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 5;
    background-color: white;
}

header img {
    margin-left: 1.5rem;
    height: 3rem;
}

header span {
    font-size: 2rem;
    color: hsl(0, 3%, 59%);
}

header span strong {
    color: hsl(0, 3%, 19%);
}

nav {
    margin-left: auto;
    margin-right: 1.5rem;
}

nav ul li {
    display: inline-block;
    margin-left: 1rem;
}

/* Banner section */

.banner {
    position: relative;
    top: 3.9rem;
    width: 100%;
    display: flex;
    background-color: rgb(221, 216, 216);
}

.banner img {
    width: 60%;
    height: auto;
    position: relative;
    left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.banner .learn {
    width: calc(40% - 1.5rem);
    position: relative;
    left: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.banner .learn h1,
.banner .learn h2,
.banner .learn button {
    width: calc(100% - 3rem);
    margin: 0.5rem auto;
}

.banner .learn h1 {
    font-size: 3rem;
}

.banner .learn button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    background-color: hsl(0, 3%, 19%);
    border: none;
}
