/* Universal styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: hsl(0, 3%, 29%);
}

/* Header section */

header {
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 5;
    background-color: white;
}

header a {
    color: hsl(0, 3%, 29%);
}

header img {
    margin-left: 1.5rem;
    height: 3rem;
}

header span {
    font-size: 2rem;
    color: hsl(0, 3%, 59%);
}

header span strong {
    color: hsl(0, 3%, 19%);
}

nav {
    margin-left: auto;
    margin-right: 1.5rem;
}

nav ul li {
    display: inline-block;
    margin-left: 1rem;
}

/* Banner section */

.banner {
    position: relative;
    top: 3.9rem;
    width: 100%;
    display: flex;
    background-color: hsl(0, 3%, 90%);
    padding-left: 1.5rem;
}

.banner img {
    width: 60vw;
    padding: 2rem 1.5rem 2rem 0;
}

.banner .learn {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 2.5rem;
}

.banner .learn h1,
.banner .learn h2 {
    width: 100%;
    margin: 0 auto 0.5rem 0;
}

.banner .learn h1 {
    font-size: 3rem;
}

.banner .learn button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    background-color: hsl(0, 3%, 29%);
    border: none;
    width: 70%;
    margin-bottom: 0.5rem;
}

/* Information section also used for Thesis section as code works for both */

.information {
    display: flex;
    width: 100%;
    position: relative;
    top: 4rem;
    padding-left: 1.5rem;
}

.mobile {
    display: none;
}

.info-left {
    width: calc(60% + 3rem);
    
}

.info-left img,
.info-left video {
    width: 60vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1.5rem;
}

.info-left h1,
.info-left p,
.info-left h2 {
    width: 60vw;
}

.info-left h1 {
    margin-bottom: 1.5rem;
    position: relative;
    top: -0.3rem;
}

.info-left p {
    margin-bottom: 2rem;
      
}

.info-right {
    width: calc(40% - 1rem);
    display: flex;
    flex-direction: column;
    border-left: 1px solid hsl(0, 3%, 90%);
}

.info-right img {
    width: 35%;
    height: auto;
    padding: 1rem 1rem;
}

.info-right h2,
.info-right p {
    padding-bottom: 0.5rem;

}

.info-right a {
    text-decoration: none;
    color: hsl(207, 91%, 64%);
    font-weight: 700;
}

.info-box {
    display: flex;
    flex-direction: row;
}

.info-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#orientation-box {
    padding-top: 1rem;
    border-bottom: 1px solid hsl(0, 3%, 85%);
    margin-bottom: 1px;
}

#campus-box {
    border-top: 1px solid hsl(0, 3%, 85%);
}

#guest-box {
    background-color: hsl(0, 3%, 80%);
}

#fisma {
    background-color: hsl(0, 3%, 80%);
    margin-top: 0.06rem;
}

.thesis-heading {
    position: relative;
    top: 4rem;
    margin: 2rem auto 0 auto;
    text-align: center;
}

#thesis-right {
    position: relative;
    top: 2rem;
    border: none;
}


/* Start learning section */

.start-learning {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
    width: 100%;
    position: relative;
    top: 4.06rem;
    background-color: hsl(0, 3%, 90%);
}

.start-learning h1 {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.learn-box {
    margin: 1rem 1rem;
    background-color: white;
    width: 25%;
}

.learn-box img {
    width: 100%;
    height: auto;
}

.learn-box h2 {
    padding-top: 1rem;
    padding-left: 1rem;
}

.learn-box h3 {
    font-weight: 400;
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: hsl(0, 3%, 59%);
}

.learn-box p {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    color: hsl(0, 3%, 59%);
}

.learn-box a {
    color: hsl(0, 3%, 59%);
}

/*footer*/

footer {
    position: relative;
    top: 4rem;
    width: 100%;
    display: flex;
    padding: 1rem 1.5rem;
    border-top: 0.06rem solid hsl(0, 3%, 85%);
    font-size: 0.75rem;
}

footer ul {
    margin-left: auto;
}

footer ul li {
    display: inline-block;  
}

footer a {
    text-decoration: none;
    color: hsl(0, 3%, 29%);
}





/* Media queries */

@media only screen and (min-width: 450px) {
    #header-mobile {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    #header-desktop {
        display: none;
    }

    header {
        height: 4rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 5;
        background-color: white;
    }
    /*banner section*/
    .banner {
        position: relative;
        top: 3.9rem;
        width: 100%;
        display: block;
        background-color: hsl(0, 3%, 90%);
        padding: 0 0;
    }
    
    .banner img {
        width: 100vw;
        padding: 0 0;
    }

    .banner .learn {
        width: 100%;
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .banner .learn h1 {
        font-size: 3rem;
        margin: 2rem auto;
    }

    .banner .learn h2 {
        margin: 1.5rem auto;
    }
    
    .banner .learn button {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: white;
        background-color: hsl(0, 1%, 58%);
        border: none;
        width: 100%;
        margin-bottom: 2rem;
    }
    /* Information section */
    .info-left {
        display: none;
    }

    .info-right {
        display: block;
        width: 100%;
        border: none;
    }

    .info-box {
        display: block;
        width: 100%;
    }

    .info-box img,
    .info-box h2,
    .info-box p,
    .info-box a {
        width: 100%;
        padding-left: 0;
    }

    .info-box a {
        margin-bottom: 3rem;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    #orientation-box,
    #campus-box,
    #guest-box {
        background-color: white;
        border: none;
        padding-top: 0;
    }

    #guest-box a {
        margin-bottom: 2rem;
    }

    .information {
        display: block;
        width: 100%;
        position: relative;
        top: 4rem;
        padding-left: 1rem;
    }

    /*Start learning section */

    .start-learning h1 {
        padding-top: 2rem;
        padding-bottom: 0;
        border-top: 0.06rem solid hsl(0, 3%, 90%);
    }

    .start-learning {
        background-color: white;
        padding: 0 0;
        display: block;
    }

    .learn-box {
        margin: 0.5rem auto;
    }

    .learn-box img,
    .learn-box h3,
    .learn-box p,
    .learn-box a {
        display: none;
    }

    .learn-box h2 {
        padding: 1.5rem 1rem;
        margin-bottom: 0;
        background-color: hsl(0, 3%, 90%);

    }

    /* Thesis section */

    #thesis {
        padding-left: 0;
    }
    #thesis-right {
        display: none;
    }

    .thesis-heading {
        margin: 2rem auto 1rem auto;
        text-align: center;
        padding-top: 2rem;
        border-top: 0.06rem solid hsl(0, 3%, 90%);
    }

    #thesis-left {
        display: block;
        width: 100%;
    }

    #thesis-left h1,
    #thesis-left p {
        display: none;
    }

    #thesis-left video {
        width: 100%;
        height: auto;
        padding: 0 0;
        margin-bottom: 1.5rem;
    }

    /* footer */

    footer ul {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    
    h2 {
        font-size: 1rem;
    }

    .banner .learn h1 {
        font-size: 1.5rem;
    }

    .info-left h1 {
        margin-bottom: 1.5rem;
        position: relative;
        top: -0.3rem;
        font-size: 1.5rem;
    }

    .learn-box {
        width: 45%;
    }


    #school-name {
        display: none;
    }

}

@media only screen and (max-width: 1200px) {

    .learn-box {
        width: calc(100vw - 55%);
    }
}

@media only screen and (max-width: 1000px) {

    .learn-box {
        width: 90%;
    }

}